<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Timeless Timesheet Tracker</title>
</head>
<body>
<form method="post" action="/home">
<table>
<tr>
<th>Week of</th>
<th>Sunday</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Total</th>
</tr>
<tr>
<td><input autofocus type="date" name = "weekOf"></input></td>
<td><input autofocus type="number" name = "Sunday"></input></td>
<td><input autofocus type="number" name = "Monday"></input></td>
<td><input autofocus type="number" name = "Tueday"></input></td>
<td><input autofocus type="number" name = "Wednesday"></input></td>
<td><input autofocus type="number" name = "Thursday"></input></td>
<td><input autofocus type="number" name = "Friday"></input></td>
<td><input autofocus type="number" name = "Saturday"></input></td>
<td></td>
<td><button>Update</button></td>
<td><button>Submit</button></td>
</tr>
</table>
</form>

<table>
<tr>
<th>Week of</th>
<th>Sunday</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Total</th>
</tr>
<tr>
<td>
{{ #timeEntries }}


{{ /timeEntries }}
</td>
</tr>
</table>
</body>
</html>