<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Timeless Timesheet Tracker</title>
</head>
<body>

<form method="post" action="/home">
<table>
<tr>
<th>Week of</th>
<th>Sunday</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Total</th>
</tr>
<tr>
<td><input autofocus required type="date" id="week" name="week"></td>
<td><input type="number" name = "Sunday"></td>
<td><input type="number" name = "Monday"></td>
<td><input type="number" name = "Tueday"></td>
<td><input type="number" name = "Wednesday"></td>
<td><input type="number" name = "Thursday"></td>
<td><input type="number" name = "Friday"></td>
<td><input type="number" name = "Saturday"></td>
<td>totalgoeshere</td>

<td>

<button>Update</button>

</td>
<td>

<button>Submit</button></td>
</tr>
</table>
</form>

<table>
<tr>
<th>Week of</th>
<th>Sunday</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Total</th>
</tr>
<tr>
<td>
{{ #timeEntries }}


{{ /timeEntries }}
</td>
</tr>
</table>
</body>
</html>