<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Timeless Timesheet Tracker</title>
</head>
<body>

<form method="post" action="/home">
<table>
<tr>
<th>Week of</th>
<th>Sunday</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Total</th>
</tr>
<tr>

<td><input autofocus required type="date" id="week" name="week" value="{{ #currentWeek }}{{ currentWeek }}{{ /currentWeek }}"></td>
<td><input type="number" value="{{ #currentSunday }}{{ currentSunday }}{{ /currentSunday }}" name = "Sunday"></td>
<td><input type="number" value="{{ #currentMonday }}{{ currentMonday }}{{ /currentMonday }}" name = "Monday"></td>
<td><input type="number" value="{{ #currentTuesday }}{{ currentTuesday }}{{ /currentTuesday }}" name = "Tuesday"></td>
<td><input type="number" value="{{ #currentWednesday }}{{ currentWednesday }}{{ /currentWednesday }}" name = "Wednesday"></td>
<td><input type="number" value="{{ #currentThursday }}{{ currentThursday }}{{ /currentThursday }}" name = "Thursday"></td>
<td><input type="number" value="{{ #currentFriday }}{{ currentFriday }}{{ /currentFriday }}" name = "Friday"></td>
<td><input type="number" value="{{ #currentSaturday }}{{ currentSaturday }}{{ /currentSaturday }}" name = "Saturday"></td>
<td> {{ #sum }}{{ sum }}{{ /sum }}</td>

<td>

<button name="button" value="update">Update</button>

</td>
<td>

<button name="button" value="submit">Submit</button></td>
</tr>
</table>
</form>

<table>
<tr>
<th>Week of</th>
<th>Sunday</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Total</th>
</tr>
<tr>
<td>
{{ #timeEntries }}
<tr>
<td> {{ simpleWeek }}</td>
<td> {{ Sunday }} </td>
<td> {{ Monday }} </td>
<td> {{ Tuesday }} </td>
<td> {{ Wednesday }} </td>
<td> {{ Thursday }} </td>
<td> {{ Friday }} </td>
<td> {{ Saturday }} </td>
<td> {{ totalHours }} </td>

</tr>
{{ /timeEntries }}
</td>
</tr>
</table>
</body>
</html>